<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">创建应用</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form name="form">
            <div>
                <md-input-container class="md-block">
                    <label>应用名称</label>
                    <input md-maxlength="10" required md-asterisk name="name" ng-model="app.name">
                    <div ng-messages="form.name.$error">
                        <div ng-message="required">不能为空</div>
                        <div ng-message="md-maxlength">应用名称长度不能超过10</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="md-block">
                    <label>应用包名</label>
                    <input md-maxlength="30" required md-asterisk ng-pattern="/^([a-zA-Z_][\w]*[.])+(?:[a-zA-Z_][\w]*)$/"
                           name="package" ng-model="app.pkgName">

                    <div ng-messages="form.pkgName.$error">
                        <div ng-message="required">不能为空</div>
                        <div ng-message="md-maxlength">应用包名长度不能超过30</div>
                        <div ng-message="pattern">包名不符合规范</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-button type="submit" ng-click="form.$valid && addApp()">添加</md-button>
            </div>
        </form>
    </md-card-content>
</md-card>