<md-list>
    <md-list-item>
        <md-card flex="60" flex-sm="70" flex-xs="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">应用设置</span>
                    <span flex layout="row" layout-align="start center">
                        <md-select ng-model="app"  flex >
                            <md-option  ng-repeat="(index,app) in apps" ng-value="app">
                                <span>{{app.name}}</span>
                                <span flex></span>
                            </md-option>
                        </md-select>
                        <md-button class="md-icon-button" ng-show="app" ng-click="deleteApp()">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content ng-show="app">
                <p ><span>APP KEY : {{app.appKey}}</span></p>
                <p ng-show="app.patch == true"><span>已生成增量包 </span><md-icon>done_all</md-icon></p>
                <span ng-show="app.patch == false && apks.length > 0 && app.patching == false" layout="row" layout-align="start center">
                    <span>尚未生成增量包</span>
                    <md-button class="md-raised" ng-click="patch()">点击生成</md-button>
                </span>
                <span ng-show="app.patching == true" layout="row" layout-align="start center">
                    <span>正在生成增量包</span>
                    <md-progress-circular class="md-hue-2" md-diameter="20px"></md-progress-circular>
                </span>
            </md-card-content>
        </md-card>
    </md-list-item>

    <md-list-item ng-show="app">
        <md-card>
            <md-table-container layout="column" flex>
                <table md-table >
                    <thead md-head>
                    <tr md-row>
                        <td md-cell width="10%">版本号</td>
                        <td md-cell width="15%">版本名</td>
                        <td md-cell width="25%">更新日志</td>
                        <td md-cell width="15%">MD5</td>
                        <td md-cell width="15%">下载地址</td>
                        <td md-cell width="10%">文件大小</td>
                        <td md-cell width="10%">
                            <md-button class="md-icon-button" ng-click="addApk($event)">
                                <md-icon>add</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="apk in apks">
                        <td md-cell >{{apk.versionCode}}</td>
                        <td md-cell >{{apk.versionName}}</td>
                        <td md-cell ><pre>{{apk.updateLog}}</pre></td>
                        <td md-cell >{{apk.md5}}</td>
                        <td md-cell ><a href="{{apk.url}}">下载</a></td>
                        <td md-cell >{{apk.size}}</td>
                        <td md-cell >
                            <md-button class="md-icon-button" ng-click="deleteApk(apk)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </md-list-item>

</md-list>
